<h2> Your Messages </h2>


<h3>Sent:</h3>

<% if @sent %>
<% @sent.each do |m| %>
<p> To: <%= m.recipient.firstname %> <%= m.recipient.lastname %> </p>
<p> Content: <%= m.content %> </p>
<p> ----------------------------------------- </p>
<% end %>
<% end %>


<h3>Recieved:</h3>

<% if @received %>
<% @received.each do |m| %>
<p> To: <%= m.recipient.firstname %> <%= m.recipient.lastname %> </p>
<p> Content: <%= m.content %> </p>
<% end %>
<% end %>