<h2>New Message</h2>

<form class="form" action="/messages/create" method="post">
<input type="hidden" name="authenticity_token" placeholder="<%= form_authenticity_token %>">
<% if @recipient %>
<input type="hidden" name="recipient" value="<%= @recipient.id %>">
<p> To: <%= @recipient.firstname %> <%= @recipient.lastname %> </p>
<% else %>
<p> <select name="recipient">
	<% @others.each do |person| %>
	<option value="<%= person.id %>"><%= person.firstname %> <%= person.lastname %></option>
	</select>
</p>
<% end %>
<% end %>
<input type="textbox" name="content">
<input type="submit" name="Send">
</form>