<h2><%= @user.firstname %> <%= @user.lastname %>'s Profile </h2>


<p> Name: <%= @user.firstname %> <%= @user.lastname %> </p>

<p><% if @user == current_user %>
<%= link_to "Edit", edit_user_path(id: current_user.id) %>
<% end %></p>

<h3> <%= @user.firstname %> <% @user.lastname %>'s Wishlist </h3>

<ul>
	<% @items.each do |item| %>
	<li> <%= item.name %> : <%= item.price %> 
		<% if @user == current_user%> | <%= link_to "Remove", remove_item_path(:id => item.id), :method => :delete %> <% end %>
	</li>
	<% end %>
<ul>




