

<div class="row darkgreen">
	<div class="col-sm-4"></div>
	<div class="col-sm-4 contents">
		<h2><%= @user.firstname %> <%= @user.lastname %>'s Profile </h2>
			<p> Name: <%= @user.firstname %> <%= @user.lastname %> </p>
			<p> Level: <%= @user.level %></p>
			<p> House: 
				<% if @user.dept %>
					<%= @user.dept.name %>
				<% end %>
			</p>


			<p><% if @user == current_user %>
			<%= link_to "Edit", edit_user_path(id: current_user.id) %>
			<% end %></p>
	</div>
	<div class="col-sm-4"></div>
</div>			


<div class="row green">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
	<h3> <%= @user.firstname %> <% @user.lastname %>'s Wishlist </h3>

	<ul class="contents">
		<% @items.each do |item| %>
		<li> <%= item.name %> : <%= item.price %> 
			<% if @user == current_user%> | <%= link_to "Remove", remove_item_path(:id => item.id), :method => :delete %> <% end %>
		</li>
		<% end %>
	</ul>
	</div>
	<div class="col-sm-4"></div>	
</div>	





