


<table>
	<thead>
		<tr>
			<th> Name </th>
			<th> Department </th>
			<th> Role </th>
			<th> Assigned Giftee </th>
		</tr>
	</thead>

	<% if @reg %>
		<% @reg.each do |user| %>
			<tr>
				<td>
					<%= link_to "#{user.firstname} #{user.lastname}", user_path(user_id: user.id) %>
				</td>
				<td>
					<% if user.dept %>
					<%= user.dept.name %>
					<% else %>
					None
					<% end %>
				</td>
				<td>
					<%= user.level %>
				</td>
					<% if user.giftees.first %>
						<td>
							<%= user.giftees.first.firstname %> <%= user.giftees.first.lastname %>
						</td>	
					<% end %>
			</tr>		
		<% end %>
	<% end %>
</table>


<table>
	<thead>
		<tr>
			<th> Name </th>
			<th> Department </th>
			<th> Role </th>
			<th> Assigned Giftee </th>
		</tr>
	</thead>

	<% if @sup %>
		<% @sup.each do |user| %>
			<tr>
				<td>
					<%= link_to "#{user.firstname} #{user.lastname}", user_path(user_id: user.id) %>
				</td>
				<td>
					<% if user.dept %>
					<%= user.dept.name %>
					<% else %>
					None
					<% end %>
				</td>
				<td>
					<%= user.level %>
				</td>
					<% if user.giftees.first %>
						<td>
							<%= user.giftees.first.firstname %> <%= user.giftees.first.lastname %>
						</td>	
					<% end %>
			</tr>		
		<% end %>
	<% end %>
</table>

<% if @santas.length > 0 %>

<p><form class="form" action="/santa/delete" method="post">
<input type="hidden" name="authenticity_token" placeholder="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Destroy Secret Santas">
</form></p>

<% else %>

<p><form class="form" action="/santa/create" method="post">
<input type="hidden" name="authenticity_token" placeholder="<%= form_authenticity_token %>">
<input type="submit" value="Assign Secret Santas">
</form></p>

<% end %>

