<!DOCTYPE html>
<html>
<head>
  <title>Wishlist</title>
  <link rel="stylesheet" href="https://raw.githubusercontent.com/kristoferjoseph/flexboxgrid/master/dist/flexboxgrid.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fondamento|Homemade+Apple|Merienda+One|Norican|Permanent+Marker" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="outer">
			<div id="navbar">
					<% if current_user %>
					<div id="left-words">
					Secret 
					Santa
					</div>
						<div id="right-words">
								<div id="right-top" >
								Logged in as <%= current_user.firstname %> | 
								<%= link_to "Profile", user_path(:user_id => current_user.id)  %> |
								<a href="<%= logout_path %>" data-method="delete">Logout</a> 
								</div>
								
								<div id="right-bottom">
								<p>	
								<a href="<%= items_path  %>">Wishlist</a> |
								<a href="<%= friends_path  %>">Friends</a> |
								<a href="<%= board_path  %>">Board</a> | 
								<a href="<%= messages_path  %>">Messages</a> |
								

									<% if current_user.level == "admin" %>
									<a href="<%= users_path %>">Users</a> |
									<a href="<%= "/santa/index" %>">Secret Santas</a> 
									<% else %>
									<a href="<%= santa_path %>">Secret Santa</a> 
									<% end %>

								
								<% else %>

								<a href="<%= register_path %>">Register</a> |
								<a href="<%= login_path %>">Login</a>	
								<% end %> 
							</p>
						</div>
					</div>
			</div>		

			<div id="box">	

					<% if flash[:errors] %>
					<% flash[:errors].each do |error| %>
				<p><%= error %></p>
					<% end %>	
					<% end %>	
					
				<%= yield %>
			</div>		

</div>

</body>
</html>
