<!DOCTYPE html>
<html>
<head>
  <title>Wishlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><% if current_user %>
	Secret Santa |
	Logged in as <%= current_user.firstname %> |
	<%= link_to "Profile", user_path(:user_id => current_user.id)  %> |
	<a href="<%= items_path  %>">Dashboard</a> |

	<% if current_user.level == "admin" %>
	<a href="<%= users_path %>">Users</a> |
	<a href="<%= "/santa/index" %>">Secret Santas</a> |
	<% else %>
	<a href="<%= santa_show_path %>">Secret Santa</a> |
	<% end %>
	<a href="<%= logout_path %>" data-method="delete">Logout</a>
	<% else %>
	<a href="<%= register_path %>">Register</a> |
	<a href="<%= login_path %>">Login</a>	
	<% end %> </p>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
	<p><%= error %> </p>
<% end %>	
<% end %>

<%= yield %>


</body>
</html>
